.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    background-color: #489de3;
}

#branding{
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
    width: auto;
    background-color: #093357;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 4px;
}

.date{
    align-self: baseline;
    font-size: 12px;
    color: #ffffff;
}

.logo {
    height: 100%;
    width: auto;
}