body{
    background-color: #f4f4f4;
    font-family: 'Libre Franklin', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.2;
}

a{
    color: #000000;
    text-decoration: none;
}

img {
    max-height: 100%;
}

.container-main{
    display: flex;
    justify-content: center;
}

.content-main{
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px #e6e6e6 solid;
    border-left: 1px #e6e6e6 solid;
}

.subject{
    font-weight: 700;
}

.author{
    color: #666666;
}

.figcaption{
    padding-top: 6px;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    word-wrap: break-word;
    color: #767676;
}

.content-secondary img{
    width: 100%;
}

.content-main img{
    width: 100%;
}

@media screen and (min-width: 1024px){
    .content-secondary{
        flex-basis: 15%;
    }
    .content-opinions{
        flex-basis: 15%;
    }
    .content-main{
        flex-basis: 40%;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px){
    .container-main{
        flex-wrap: wrap;
    }
    .content-secondary{
        flex-basis: 25%;
    }
    .content-opinions{
        flex-basis: 70%;
        align-self: flex-start;
    }
    .content-main{
        flex-basis: 45%;
    }
}

@media screen and (max-width: 767px){
    .container-main{
        display: flex;
        flex-direction: column;
        padding-right: 10px;
        padding-left: 10px;
    }
    .content-secondary{
        order: 2;
    }
    .content-secondary img{
        width: 40%;
    }
    .content-secondary p{
        display: none;
    }
    .content-opinions{
        order: 3;
    }
    .content-main{
        order: 1;
        margin-right: 0;
        margin-bottom: 20px;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
        border-right: 0;
        border-left: 0;
    }
}